main {
  border: 1px solid black;
}

/*CSS FOR THE DATA BOX/HEALTH BAR*/
/*.health-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  height: 20px;
  padding: 5px;
  background-color: #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}*/
/* This is the health bar which is conditioned to turn red after health drops below 30% (300pts) */
.bar {
  height: 10px;
  position: relative;
  transition: width .5s linear;
}
/* This is the shadow bar behind the health bar that makes the health descending look professional */

/*END CSS FOR DATA BOX/HEALTH BAR*/
