

/*make sure assets folder is in the same directory as index.html, style.css, and app.js.  Rename as necessary*/

/*index.html styling*/
#page{
  background-color: white;
  height: 100vh;
  /*max-height: 100%;*/
}
.pokemon-stats{
  /*border: 2px solid red;*/
  width: 100%;
}
.health-bar{
  width: 95%;
  max-width: 100%;
}
.name-and-pic img{
  max-width: 30%;
}
.name-and-pic .pokemon-img{
  margin: 2%;
  width: 50%;
}
.pokemon-sprite{
  /*border: 2px solid blue;*/
  width: 100%;
  margin: 0%;
  margin-right: 0%;
  margin-bottom: 10%;
  text-align: center;
}
.pokemon-name{
  font-weight: bold;
}
.pokemon-sprite img{
  width: 50%;
}
#dashboard-bottom-default{
  background-color: pink;
}
#dashboard-bottom-switch{
  background-color: red;
}
#dashboard-bottom-fight{
  background-color: yellow;
}
.attack{
  background-color: gray;
  width: 30%;
  margin: 1.1%
}
.team{
  font-size: 1.4em;
  background-color: grey;
}
.team img{
  margin-bottom: 0%;
  margin-top: 1%;
}
.name{
  font-weight: bold;
}
.pokemon-character{
  width: 30%;
  margin: 1.1%;
}
.pokemon-template{
  margin: 0%;
  width: 100%;
  /*border: 1px solid black;*/
}
#player-one-pokemon{
  width: 50%;
  float: left;
}
#player-two-pokemon{
  width: 50%;
  float: right;

}
#player-two-pokemon .health-bar{
  margin-left: 5%;
  margin-right: 0%;
}
#player-two-pokemon .name-and-pic img{
  margin-left: 160%;
  border: 1px solid black:
}
#player-two-pokemon .pokemon-name{
  margin-left: 62%;
}
#player-one-pokemon .name-and-pic img{
  margin-left: 1%;
  border: 10px solid black:
}
#player-one-pokemon .pokemon-name{
  margin-left: 4%;
}


#dashboard{
  clear: left;
}
#player-two-pokemon .name-and-pic{

}
}
/*about us page*/
  body{
  margin: 2%;;
  background-color: black;
  text-align: justify;
}
#title{
  text-align: center;
  padding: 1%;
  font-size: 5em;
  margin-bottom: 0%;
  margin-top: 2%;
  text-decoration: underline;
}

.one img, .two img, .three img, .four img, .five img{
  max-width: 100px;
  max-height: 100px;
  border: 3px solid #00F500;
  border-radius: 10px;
  float: left;
  margin: 2%;
  margin-bottom: 0%;
  margin-top: 3%;
}
#about-us-page{
  font-family: monospace;
  color: white ;
}
#about-us-page p{
  margin-right: 2%;
  margin-left: 2%;
  font-family: monospace;
  color: white ;
  font-size: 175%;

}

.one{
float: left;
}
.two{
  float: left;
}
.three{
  float: left;
}
.four{
  float: left;
}
.five{
  float: left;
}
/*#saul:hover{
content: url();
}
#cameron:hover{
content: attr();
}
#ely:hover{
content: url();
}
#michael:hover{
content: url();
}*/
