.health-bar {
  min-width: 100%;
  height: 10px;
  border: 1px solid black;
  background-color: #ddd;
}

.health-bar div {
  display: inline-block;
  margin: 0;
  padding: 0;
  min-width: 10%;
  min-height: 10px;
  background-color: green;
  float: left;
}
